# VSCODE
.vscode

# ROS build dir
src/catkin_ws/build
src/catkin_ws/src/kinematics/src/build
src/catkin_ws/src/robotarminterface/src/build
src/catkin_ws/devel

# MatrixExcercise
MatrixExcercise/build
MatrixExcercise/Debug

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
